.toggle-track {
    background-color: #1a1a1a;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    height: 34px;
    position: relative;
    user-select: none;
    width: 60px;
  }
  
  .toggle-sun,
  .toggle-moon {
    align-items: center;
    display: flex;
    font-size: 18px;
    padding: 0 4px;
    width: 50%;
  }
  
  .toggle-moon {
    justify-content: flex-end;
  }
  
  .toggle-thumb {
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: transform .5s cubic-bezier(.23,1,.32,1);
    width: 30px;
  }
  
  .toggle-track.toggled .toggle-thumb {
    transform: translateX(26px);
  }