<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://ik.imagekit.io/gyzvlawdz/Projects/qsumai/favicon_05f7sKREO.png"
        type="image/x-icon">
    <title>Quick Summarize AI</title>
    <meta name="description"
        content="Revolutionize your YouTube learning experience with our innovative tool that generates summaries and notes for any video. Save time and improve your retention with our concise and easy-to-understand format. Perfect for students, professionals, and anyone looking to enhance their learning. Try it out today!">
    <meta property="og:title" content="Quick Summarize AI" />
    <meta property="og:description"
        content="Revolutionize your YouTube learning experience with our innovative tool that generates summaries and notes for any video. Save time and improve your retention with our concise and easy-to-understand format. Perfect for students, professionals, and anyone looking to enhance their learning. Try it out today!" />
    <meta property="og:image" content="https://ik.imagekit.io/gyzvlawdz/Projects/qsumai/ogimage_5o7ATqUOD.png" />
    <meta property="og:url" content="https://qsumai.akashrchandran.in" />
    <!-- twitter -->
    <meta name="twitter:title" content="Quick Summarize AI" />
    <meta name="twitter:description"
        content="Revolutionize your YouTube learning experience with our innovative tool that generates summaries and notes for any video. Save time and improve your retention with our concise and easy-to-understand format. Perfect for students, professionals, and anyone looking to enhance their learning. Try it out today!" />
    <meta name="twitter:url" content="https://qsumai.akashrchandran.in" />
    <meta name="twitter:card" content="summary" />
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-set-preferred-mode-onload="true">
    <!-- Page content start -->
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom">
        <div class="sticky-alerts"></div>
        <!-- Navbar start -->
        <nav class="navbar h-100 bg-light-lm">
            <div class="container-lg justify-content-between">
                <a href="/">
                    <img src="https://ik.imagekit.io/gyzvlawdz/Projects/qsumai/logo_wIfj7RP8c.png" height="70"
                        alt="Quick Summarize AI" />
                </a>

                <div class="toggle-track" id="toggler">
                    <div class="toggle-moon">🌛</div>
                    <div class="toggle-sun">☀️</div>
                    <div class="toggle-thumb"></div>
                </div>
            </div>
        </nav>
        <!-- Navbar end -->
        <div class="content-wrapper mt-20">
            <div class="container px-20 h-50"></div>
            <div class="container">
                <div class="content">
                    <h2 class="content-title">Summarize any YouTube video using AI:</h2>
                    <form id="ytform">
                        <div class="input-group">
                            <input type="url" autofocus="autofocus" class="form-control form-control-lg"
                                placeholder="https://www.youtube.com/watch?v=ID" id="ytlink" required />
                            <div class="input-group-append">
                                <button class="btn btn-danger btn-lg ml-5 text-dark-dm shadow-none"
                                    id="submitbtn">Submit</button>
                            </div>
                        </div>
                        <div class="form-text content mx-0 my-5">
                            <!-- <br /> -->
                            You can give a link to the youtube video and AI will summarize it for you.
                            <br />
                            For now it does summarization automatically but I will add some methods to get control
                            summary generated.
                            <br />
                            Currently, it is only compatible with videos in the English language.
                        </div>
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="content" id="summary">
                </div>
            </div>
        </div>

        <footer class="navbar navbar-fixed-bottom bg-light-lm">
            <div class="footer-content mx-auto">
                Made by <a href="https://akashrchandran.in">Akash R Chandran</a>.
            </div>
        </footer>
    </div>
    <!-- Page content end -->

    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>